<ion-view>
    <div class="bar bar-header bar-calm">
        <img src="../img/Logo_square.png" height="100%">
        <h1 class="title">PatientTrack for Carers</h1>
        <a class="button button-icon icon ion-android-close" style="transform: translateY(-5%);"
           href="#/Settings"></a>
    </div>
    <ion-content class="has-header">
        <label class="item item-input item-floating-label">
            <span class="input-label">Current Password</span>
            <input type="password" placeholder="Current Password">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">New Password</span>
            <input type="password" placeholder="New Password">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Repeat New Password</span>
            <input type="password" placeholder="Repeat New Password">
        </label>
        <br/>
        <a class="button button-block button-balanced">Save</a>
    </ion-content>
</ion-view>