<ion-view>
    <div class="bar bar-header bar-calm">
        <img src="img/Logo_square.png" height="100%">
        <h1 class="title">PatientTrack for Carers</h1>
        <a class="button button-icon icon ion-android-close" style="transform: translateY(-5%);"
           href="#/ViewPatients"></a>
    </div>
    <ion-content class="has-header">
        <div class="list" ng-controller="CarerController">
            <a class="item item-thumbnail-left">
                <img src="img/AlanRutherford.jpg">
                <h2>{{selectedPatient.PatientFName}} {{selectedPatient.PatientSName}}</h2>
                <p>{{selectedPatient.PatientPostcode}}</p>
                <p>{{selectedPatient.PatientEmail}}</p>
            </a>
        </div>
        <p class="center">Time of location: {{selectedPatient.Locations[selectedPatient.Locations.length - 1].TimeLocated | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
        <div id="map" data-tap-disabled="true"></div>
        <br/>
        <a class="button button-block button-assertive" ng-click="showConfirmDeletePatient()">Delete Patient</a>
    </ion-content>
</ion-view>