<ion-view cache-view="false">
    <div class="bar bar-header bar-calm">
        <img src="img/Logo_square.png" height="100%">
        <h1 class="title">PatientTrack for Carers</h1>
        <a class="button button-icon icon ion-help-circled v-align" href="#/Help"></a>
    </div>
    <ion-content class="has-header">
        <div class="centre pad-top">
            <h1>Welcome to PatientTrack for Carers</h1>
            <h4>Please register or log in</h4>
            <br/>
        </div>
        <div class="pad-top">
            <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username" ng-model="regUsername">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email Address</span>
                <input type="email" placeholder="Email Address" ng-model="regEmail">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="regPwd">
            </label>
        </div>
        <div>
            <a class="button button-clear button-balanced button block" href="#/PrivacyPolicy">By registering you agree to our Privacy Policy</a>
            <a class="button button-balanced button-block" ng-click="registerCarer()">Register</a>
        </div>
    </ion-content>
</ion-view>